[FILE]
    # Input CAD file (".stp")
    stp_file = VX4_Front_Blade_single.stp
    # Output directory for exporting the files
    output_dir = output
    # Case name which will be used for the file names
    # Ex. --->  output/VX4-front_prop.vtk
    name_tag = VX4-front_prop

[SURFACE]
    type = propeller
    n_blades = 5

[IDENTIFY]
    # Is LE vertex present in the .stp file?
    # Yes --> find_LE = no
    # No --> find_LE = yes
    find_LE = no
    # Rotational direction of the rotor (CCW - CW)
    rotation = CCW

[PANELS]
    # Number of nodes in chordwise dir (Upper and Lower surf separately!!)
    N_chord    = 23
    # Chordwise points distribution    ('cosine_LE' - 'uniform')
    dist_chord = cosine_LE

    # Number of sections spanwise dir (Approximately)
    N_span = 35
    # Root radius
    z_min = 26
    # Tip radius
    z_max = 150
    # Spanwise sections distribution  (cosine_TIP - uniform)
    dist_span = cosine_TIP
    # Radial location at which the cosine distribution starts (REQUIRED ONLY IF --> dist_span = 'cosine_TIP')
    r_R = 0.78

    remove_TE = yes			
    close_TE = yes

[MODIFY]
    # Apply planform changes??
    # No  --> Omit the planform parameters below
    # Yes --> Apply planform modifications below
    modify_planform = no

    # Collective Pitch Increment (deg)
    collect_pitch = 14
    # Blade cross section scale
    scale = 1.3			

    ## May be added: 
    # sweep - anhedral - dihedral - twist distr (root to tip) 



