[FILE]
    # Input CAD file (".stp")
    stp_file = VX4_Front_Blade_single.stp
    # Output directory for exporting the files
    output_dir = output
    # Case name which will be used for the file names
    # Ex. --->  output/VX4-front_prop.vtk
    name_tag = VX4-5b

[SURFACE]
    type = propeller
    n_blades = 5

    # Is LE vertex present in the .stp file?
    # Yes --> find_LE = no
    # No --> find_LE = yes
    find_LE = no
    # Rotational direction of the rotor (CCW - CW)
    rotation = CCW

    close_TE = yes

[PANEL]

    # Number of nodes in chordwise dir (Upper and Lower surf separately!!)
    N_chord    = 11
    # Chordwise points distribution    (cosine_LE - uniform)
    dist_chord = cosine_LE

    # Number of sections spanwise dir (Approximately)
    N_span = 20
    # Root radius
    z_min = 26
    # Tip radius
    z_max = 150
    # Spanwise sections distribution  (cosine_TIP - uniform)
    dist_span = cosine_TIP
    # Radial location at which the cosine distribution starts (REQUIRED ONLY IF --> dist_span = 'cosine_TIP')
    r_R = 0.78

    ###     PLANFORM CHANGES    ###
    # Collective Pitch Increment (deg)
    collect_pitch = [0]
    # Blade cross section scale
    scale = [1]
    # Sweep Increment (deg)
    sweep = [0]
    # Dihedral Increment (deg)
    dihedral = [0,2]

    ## May be added: 
    # twist distr (root to tip) 

[GENERATE_SURFACE]

    # Reconstruct blade from blade elements??
    # yes --> USE the parameters below
    # no  --> Omit the rest below
    generate_blade = no

    # Number of blade sections
    n_sec = 20

    # Root section span
    z_min_sec = 26
    # Tip section span
    z_max_sec = 150

    # Spanwise sections distribution  (cosine_TIP - uniform)
    dist_sec = cosine_TIP

    # Radial location at which the cosine distribution starts (REQUIRED ONLY IF --> dist_span = 'cosine_TIP')
    r_R_sec = 0.78

    # Collective Pitch Increment (deg)
    collect_pitch_sec = [0, 2]
    # Blade cross section scale
    scale_sec = [1, 1.1]

    # Generate mesh for the new surface??
    # yes --> Use [PANEL] parameters above
    # no  --> Only "step" file will be exported
    generate_mesh = yes
