[FILE]
    # Input CAD file (".stp")
    stp_file = VX4_Front_Blade_single.stp
    # Output directory for exporting the files
    output_dir = output
    # Case name which will be used for the file names
    # Ex. --->  output/VX4-front_prop.vtk
    name_tag = VX4-5b_hover_polyn_TIP

[SURFACE]
    type = propeller
    n_blades = 5

    # Is LE vertex present in the .stp file?
    # Yes --> find_LE = no
    # No --> find_LE = yes
    find_LE = no
    # Rotational direction of the rotor (CCW - CW)
    rotation = CCW

    close_TE = yes

[PANEL]
    # Root radius
    z_min = 25.5    
    # Tip radius
    z_max = 150.5   
    
    # Number of nodes in chordwise dir (Upper and Lower surf separately!!)
    N_chord = 21
    # Number of sections spanwise dir (Approximately)
    N_span = 45
    
    # Chordwise points distribution    (cosine_LE - uniform)
    dist_chord = cosine_LE
    # Spanwise sections distribution  (polyn_TIP - uniform)
    dist_span = polyn_TIP

    ###     PLANFORM CHANGES    ###
    scale = [1] # [0.8, 0.85, 0.9, 0.95, 1.0, 1.05, 1.1, 1.15, 1.20]     # Blade cross section scale
    # Collective Pitch Increment (deg)
    collect_pitch = [0] #[30, 32, 32.2, 32.3, 32.4, 34, 36, 38, 40, 42, 44, 46]
    sweep = [0] # [0,2,4,6,8,10,12,14,16,18]     # Sweep Increment (deg)
    dihedral = [0]  # Dihedral Increment (deg)
    twist_tip  = [0] # [0,0,0,0,0,0,0,0]   # Twist distribution (deg)
    twist_root = [0] # [0,5,10,15,20,25,30,35]
    
    twist_distr = linear    # Spanwise twist distribution  (linear)

[GENERATE_SURFACE]

    # Reconstruct blade from blade elements??
    # yes --> USE the parameters below
    # no  --> Omit the rest below
    generate_blade = no

    n_sec = 20      # Number of blade sections

    z_min_sec = 26  # Root section span
    z_max_sec = 150 # Tip section span

    # Spanwise sections distribution  (polyn_TIP - uniform)
    dist_sec = polyn_TIP

    collect_pitch_sec = [0, 2]      # Collective Pitch Increment (deg)
    scale_sec = [1, 1.1]            # Blade cross section scale

    # Generate mesh for the new surface??
    # yes --> Use [PANEL] parameters above
    # no  --> Only "step" file will be exported
    generate_mesh = yes
